sudo: required
services:
- docker
language: bash
script:
# prepare qemu
- docker run --rm --privileged multiarch/qemu-user-static:register --reset
# build image
- docker build -t offtechnologies/docker-arm32v6-mariadb .
# test image
- docker run offtechnologies/docker-arm32v6-mariadb uname -a
# push image
- >
  if [ "$TRAVIS_BRANCH" == "master" ] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
    docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
    TAG=$(grep "ENV MARIADB_VERSION" Dockerfile | awk 'NF>1{print $NF}')
    docker tag offtechnologies/docker-arm32v6-mariadb offtechnologies/docker-arm32v6-mariadb:$TAG
    docker push offtechnologies/docker-arm32v6-mariadb:$TAG
    docker push offtechnologies/docker-arm32v6-mariadb
  fi
